{% extends '@GerFrontend/layout.html.twig' %}

{%- block title -%}
    {{ parent() }}
    Applications
{%- endblock -%}

{% block maincontent %}
    <div class="container">
        <div class="padded row col-lg-12 col-md-12">
            <div id="breadcrumbs">
                {{ knp_menu_render('main', { 'depth': 5, 'currentClass': 'active', 'template': 'GerFrontendBundle:Menu:breadcrumb.html.twig'}) }}
            </div>
        </div>
    </div>
    <div class="row padded">
        <div class="col-lg-8 col-md-12">
            <div class="box">
                <div class="box-header">

                    <span class="title">Liste des Applications</span>
                </div>
                <div class="box-content">
                    {% if applications|length > 0 %}
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Dépend de</th>
                                <th>Requis par</th>
                                <th>Bases de données</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            {% for application in applications %}
                                <tbody>
                                <tr>
                                    <td>{{ application.name }}</td>
                                    <td>
                                        {% for dapplication in application.getDependsOnApplications %}
                                            <span class="label label-dark-red">{{ dapplication.name }}</span>
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% for rapplication in application.getIsRequiredByApplications %}
                                            <span class="label label-green">{{ rapplication.name }}</span>
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% for database in application.getRequireDatabases %}
                                            <a href="#" rel="tooltip" data-placement="bottom" title
                                               data-original-title="{{ database.type.name }}: {{ database.description }}"><span
                                                        class="label label-green"><i
                                                            class="icon icon-tasks"></i> {{ database.name }}</span></a>
                                        {% endfor %}
                                    </td>
                                    <td>

                                        <a class="btn btn-gold"
                                           href="{{ path("api_applications_get_edit_application",{ 'id': application.id }) }}">Editer
                                            <i class="icon icon-arrow-right"></i></a>
                                        <a class="btn btn-red"
                                           href="{{ path("api_applications_get_delete_application",{ 'id': application.id }) }}">Supprimer</a>
                                    </td>
                                </tr>
                                </tbody>
                            {% endfor %}
                        </table>
                    {% else %}
                        <div class="">
                            <div class="col-lg-4 col-lg-offset-4">Aucune Application défini</div>
                        </div>
                    {% endif %}
                </div>

            </div>
        </div>
        <div class="col-lg-4 col-md-4">

            <div class="box">
                <div class="box-header">
                    <span class="title">
                        {% if type == 'creation' %}
                            Ajouter une Application
                        {% else %}
                            Modifier l'Application
                        {% endif %}
                    </span>
                </div>

                <div class="box-content">
                    {{ form_start(form,{ 'action': action, attr: { 'novalidate': 'novalidate', 'method': 'POST' } }) }}
                    <div class="row">
                        <div class="col-lg-12">

                            <ul class="padded separate-sections">

                                <li class="input">
                                    {{ form_widget(form.name, { 'attr': { 'placeholder': 'Nom', 'style': 'cursor: auto;  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==); background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat;' }}
                                    ) }}
                                    {% if form_errors(form.name)|length > 0 %}
                                </li>
                                <li class="clearfix" style="margin-left: 30px;">
                                    <div class="note pull-left alert-danger">{{ form_errors(form.name) }}</div>
                                </li>
                                {% endif %}
                                <li>
                                    {{ form_widget(form.depends_on_applications) }}
                                </li>
                                {% if form_errors(form.depends_on_applications)|length > 0 %}

                                    <li class="clearfix" style="margin-left: 30px;">
                                        <div class="note pull-left alert-danger">{{ form_errors(form.depends_on_applications) }}</div>
                                    </li>
                                {% endif %}
                                <li>
                                    {# <ul class="require_databases" data-prototype="&lt;li class=&quot;thumbnail padded&quot;&gt;{{ form_widget(form.require_databases.vars.prototype)|e }}&lt;/&gt;"> #}
                                    <ul class="require_databases"
                                        data-prototype="&lt;ul class=&quot;prototype_require_databases&quot;&gt;&lt;div class=&quot;row thumbnail&quot;&gt;&lt;div class=&quot;col-lg-6&quot;&gt;&lt;span class=&quot;label label-green&quot;&gt;Base de donn&eacute;e&lt;/span&gt;&lt;p&gt;&lt;/p&gt;&lt;li class=&quot;input&quot;&gt;{{ form_widget(form.require_databases.vars.prototype.name)|e }}&lt;/li&gt;&lt;li&gt;{{ form_widget(form.require_databases.vars.prototype.type)|e }}&lt;/li&gt;&lt;/div&gt;&lt;div class=&quot;col-lg-6&quot;&gt;&lt;li&gt;{{ form_widget(form.require_databases.vars.prototype.description)|e }}&lt;/li&gt;&lt;/div&gt;&lt;/div&gt;&lt;/ul&gt;">
                                        {% for application_database in form.require_databases %}

                                        {# <ul class="padded prototype_require_databases"> #}

                                        <li class="addEmbed">
                                            <ul class="prototype_require_databases">
                                                <div class="row thumbnail">
                                                    <div class="col-lg-6"><span class="label label-green">Base de donnée</span>
                                                        <p></p>
                                                        <li class="input">
                                                            {{ form_widget(application_database.name) }}
                                                        </li>
                                                        {% if form_errors(application_database.name)|length > 0 %}
                                                            <li class="clearfix" style="margin-left: 30px;">
                                                                <div class="note pull-left alert-danger">{{ form_errors(application_database.name) }}</div>
                                                            </li>
                                                        {% endif %}

                                                        <li>
                                                            {{ form_widget(application_database.type) }}
                                                        </li>
                                                        {% if form_errors(application_database.type)|length > 0 %}
                                                            <li class="clearfix" style="margin-left: 30px;">
                                                                <div class="note pull-left alert-danger">{{ form_errors(application_database.type) }}</div>
                                                            </li>
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <li>
                                                            {{ form_widget(application_database.description) }}
                                                        </li>
                                                        {% if form_errors(application_database.description)|length > 0 %}

                                                            <li class="clearfix" style="margin-left: 30px;">
                                                                <div class="note pull-left alert-danger">{{ form_errors(application_database.description) }}</div>
                                                            </li>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </ul>
                                        </li>
                                        {% endfor %}
                                    </ul>

                            </ul>
                            </li>

                            </ul>
                        </div>

                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-blue">Soumettre</button>
                    </div>

                </div>
            </div>

            {{ form_widget(form._token) }}
            </form>

        </div>
    </div>
    </div>


{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .addEmbed {
            margin-top: 20px;
        }

        ul.require_databases {
            list-style-type: none;
        }

        ul.prototype_require_databases {
            list-style-type: none;
        }
    </style>
{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script>
            var collectionHolder = $('ul.require_databases');
            collectionHolder.find('li.addEmbed').each(function () {
                addDatabaseFormDeleteLink($(this));
            });

            // ajoute un lien « add a tag »
            var $addDatabaseLink = $('<a href="#" class="add_database_link btn btn-success btn-xs addEmbed pull-right"><i class="icon icon-plus"></i> Ajouter une Base de donnée</a>');
            var $newLinkLi = $('<li></li>').append($addDatabaseLink);

            jQuery(document).ready(function () {
                // ajoute l'ancre « ajouter un tag » et li à la balise ul
                collectionHolder.append($newLinkLi);

                $addDatabaseLink.on('click', function (e) {
                    // empêche le lien de créer un « # » dans l'URL
                    e.preventDefault();

                    // ajoute un nouveau formulaire tag (voir le prochain bloc de code)
                    addDatabaseForm(collectionHolder, $newLinkLi);

                });
            });

            function addDatabaseForm(collectionHolder, $newLinkLi) {
                // Récupère l'élément ayant l'attribut data-prototype comme expliqué plus tôt
                var prototype = collectionHolder.attr('data-prototype');

                // Remplace '__name__' dans le HTML du prototype par un nombre basé sur
                // la longueur de la collection courante
                var newForm = prototype.replace(/__name__/g, collectionHolder.children().length);

                // Affiche le formulaire dans la page dans un li, avant le lien "ajouter un tag"
                var $newFormLi = $('<li class="addEmbed"></li>').append(newForm);
                $newLinkLi.before($newFormLi);
                addDatabaseFormDeleteLink($newFormLi);
                $('select.chzn-select').select2();
            }

            function addDatabaseFormDeleteLink($tagFormLi) {
                var $removeFormA = $('<a class="btn btn-red btn-xs" href="#"><i class="icon icon-remove"></i> Retirer</a>');
                $tagFormLi.append($removeFormA);

                $removeFormA.on('click', function (e) {
                    // empêche le lien de créer un « # » dans l'URL
                    e.preventDefault();

                    // supprime l'élément li pour le formulaire de tag
                    $tagFormLi.remove();
                });
            }
        </script>
    {% endblock %}