{% trans_default_domain 'FOSUserBundle' %}


<form novalidate="novalidate" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">

    {% if form_errors(form)|length > 0 %}
        <div class="alert alert-block" style="margin-top: 30px;">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4>Warning!</h4>
            <span class="help-block note">{{ form_errors(form) }}</span>
        </div>
    {% endif %}


<div class="login box" style="margin-top: 20px;">

    <div class="box-header">
        <span class="title">{{ "layout.register"|trans }}</span>
    </div>

    <div class="box-content padded">
        <form class="separate-sections">

            <div class="input-group addon-left">
          <span class="input-group-addon" href="#">
            <i class="icon-envelope"></i>
          </span>
                {{ form_widget(form.email, { "attr": { 'placeholder': form.email.vars.label|trans }}) }}

            </div>
            {% if form_errors(form.email)|length > 0 %}
                <span class="help-block note">{{ form_errors(form.email) }}</span>
            {% endif %}
            <p></p>
            <div class="input-group addon-left">
          <span class="input-group-addon" href="#">
            <i class="icon-user"></i>
          </span>
                {{ form_widget(form.username, { "attr": { 'placeholder': form.username.vars.label|trans }}) }}
            </div>
            {% if form_errors(form.username)|length > 0 %}
                <span class="help-block note">{{ form_errors(form.username) }}</span>
            {% endif %}
            <p></p>
            <div class="input-group addon-left">
          <span class="input-group-addon" href="#">
            <i class="icon-key"></i>
          </span>
                {{ form_widget(form.plainPassword.first, { "attr": { 'placeholder': 'form.password'|trans }}) }}
            </div>
            {% if form_errors(form.plainPassword.first)|length > 0 %}
                <span class="help-block note">{{ form_errors(form.plainPassword.first) }}</span>
            {% endif %}
            <p></p>
            <div class="input-group addon-left">
          <span class="input-group-addon" href="#">
            <i class="icon-key"></i>
          </span>
                {{ form_widget(form.plainPassword.second, { "attr": { 'placeholder': 'form.password_confirmation'|trans }}) }}
            </div>
            {% if form_errors(form.plainPassword.second)|length > 0 %}
                <span class="help-block note">{{ form_errors(form.plainPassword.second) }}</span>
            {% endif %}
            <p></p>
            <div>
                <button type="submit"  class="btn btn-blue btn-block">{{ 'registration.submit'|trans }} <i class="icon-ok"></i></button>
            </div>

        <p></p>
        <div>
            <a href="{{ path('fos_user_security_login') }}">
              {{  "layout.already_an_account"|trans }} <strong>{{ "layout.login"|trans }}</strong>
            </a>
        </div>
    </div>

</div>
    {{ form_end(form) }}