{% extends '@GerFrontend/layout.html.twig' %}

{% block maincontent %}
    <div class="container">
        <h3>Environments</h3>
        {% if environments|length > 0 %}
            <div class="col-lg-6">
                <h4>Liste des Environnements</h4>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    {% for environment in environments %}
                        <tbody>
                        <tr>
                            <td>{{ environment.name }}</td>
                            <td>

                                <a class="btn btn-primary"
                                   href="{{ path("api_environments_get_edit_environment",{ 'id': environment.id }) }}">Editer
                                    <i class="icon icon-arrow-right"></i></a>
                                <a class="btn btn-danger"
                                   href="{{ path("api_environments_get_delete_environment",{ 'id': environment.id }) }}">Supprimer</a>
                            </td>
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
        <div class="col-lg-2">

            <div class="box">
                <div class="box-header">
                    <span class="title">Ajouter/Modifier un Environment</span>
                </div>

                <div class="box-content">
                    {{ form_start(form,{ 'action': action, attr: { 'novalidate': 'novalidate', 'method': 'POST' } }) }}
                        <div class="row">
                            <div class="col-lg-12">

                                <ul class="padded separate-sections">

                                    <li class="input">
                                        {{ form_widget(form.name, { 'attr': { 'placeholder': 'Nom', 'style': 'cursor: auto;  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==); background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat;' }}
                                        ) }}
                                    {% if form_errors(form.name)|length > 0 %}
                                    <li class="clearfix">
                                        <div class="note pull-right alert-danger">{{ form_errors(form.name) }}</div>
                                    </li>
                                    {% endif %}
                                    </li>
                                    <li class="input">
                                        {{ form_widget(form.description, { 'attr': {'rows': '5', 'placeholder': 'Description' }}
                                        ) }}
                                    </li>
                                    {% if form_errors(form.description)|length > 0 %}
                                        <li class="clearfix">
                                            <div class="note pull-right alert-danger">{{ form_errors(form.description) }}</div>
                                        </li>
                                    {% endif %}

                                </ul>
                            </div>

                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-blue">Soumettre</button>
                        </div>

                </div>
            </div>

            {{ form_rest(form) }}

        </div>
    </div>
{% endblock %}